[submodule "bin/git-friendly"]
	path = bin/git-friendly
	url = https://github.com/jamiew/git-friendly.git
[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
